<h3>User Detail</h3>

<table class="table table-bordered">
	<tbody>
	 	 <tr>
	 	 	<td>Name</td>
	 	 	<td>{{usname}}</td>
	 	 </tr>
	 	 <tr>
	 	 	<td>User Name</td>
	 	 	<td>{{uname}}</td>
	 	 </tr>
	 	 <tr>
	 	 	<td>E-Mail</td>
	 	 	<td>{{email}}</td>
	 	 </tr>
	 	 <tr>
	 	 	<td>Status</td>
	 	 	<td>{{status}}</td>
	 	 </tr>
	 	 <tr>
	 	 	<td>Permission</td>
	 	 	<td>{{permission}}</td>
	 	 </tr>
	 	 <tr>
	 	 	<td>Creation Date</td>
	 	 	<td>{{date}}</td>
	 	 </tr>
	 	 <tr>
	 	 	<td>Image</td>
	 	 	<td>{{activity}}</td>
	 	 </tr>
	 </tbody>
</table>